

<div class="footer">
  <small><span class="copyright">©</span> 2018 (GA Chicago)
  <br> 
    Stephanie Obeytek and Eugene Sims 
  <br>
    <a href="/about">About</a>
    •
    <a href="/contact">Contact</a>
    •
    <a href="/">Home</a>
  </small>
  

    </div>

    
</body>
</html>