<!DOCTYPE html>
<html>
<head>
  <title>obeyims</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
</head>
<body>
  <header>
    <h1 id="title">obeyims</h1>
  
  </header>