<!DOCTYPE html>
<html>
<head>
	<title>Make A Post</title>
</head>
<body>
	<header>
		<h1>
			Edit Your Post
		</h1>
		<nav>
			<h3>
				<a href="/auth/news_feed">Home</a>
			</h3>
		</nav>
	</header>
	<main>
		
	</main>
</body>
</html>