<%- include('../partials/header'); -%>
		<h1>
			New Post
		</h1>
		<nav>
			<h3>
				<a href="/news_feed">Home</a>
			</h3>
		</nav>
	</header>
	<main>
<<<<<<< HEAD
		<form action="/news_feed" method="POST">
			<input type="text" name="caption" placeholder="Post caption"><br>
			<input type="text" name="photoURL" placeholder="photoURL"><br>
=======
		<form action="/post" method="POST">
			<input type="text" name="caption"><br>
			<input type="text" name="photoURL"><br>
>>>>>>> ac9d864cff8920360f01800312f0167e9644514a
			<textarea name="status"></textarea><br><br>
			<input type="submit" value="Post">
		</form>
	</main>

 <%- include('../partials/footer'); -%>