<%- include('partials/header'); -%>



	<a href="/post/makepost">Make A Post</a>

	<main>
		<h2>Feed</h2>
		<div id="post">
			stuff is here
		</div>
	</main>





  
 <%- include('partials/footer'); -%>