<%- include('partials/header'); -%>

<<<<<<< HEAD



	<a href="/post/makepost">Make A Post</a>
=======
<body>

	<header>
		<h1>Obeyims</h1>
		<nav>
			<a href="/post/makepost">Make A Post</a>
		</nav>
	</header>
>>>>>>> ac9d864cff8920360f01800312f0167e9644514a
	<main>
		<h2>Feed</h2>
		<div id="post">
			stuff is here
		</div>
	</main>





  
 <%- include('partials/footer'); -%>