<%- include('partials/header'); -%>
<div class="about"></div>


  <div class="col-md-12">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut    enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip     ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in    voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint    occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim    id est laborum.</p>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing    elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut    enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip     ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in    voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint    occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim    id est laborum.</p>
  </div>
</div>
<div class="aboutPic">
<div class="row">
  <div class="col-sm-6">
    <img src=" https://kids.nationalgeographic.com/content/dam/kids/photos/animals/Mammals/H-P/photoark-lion.ngsversion.1466004832449.png">
  </div>

  <div class="col-sm-6">
    <img src=" https://wallscover.com/images/possum-wallpaper-7.jpg">
  </div>
</div>

</div>

<%- include('partials/footer'); -%>