<!DOCTYPE html>
<html>
<head>
  <title>Obeyims</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <header>
    <h1 id="title">Obeyims</h1>
    <a id="login" href="/auth">Register</a>
  </header>

  <main>
    <section id="register">
      <h3>Login</h3><br>
      <form action="/auth/login" method="POST">
        Username: <input type="text" name="username">
        Password:  <input type="password" name="password"><br>
        <button type=submit>Submit</button>
      </form>
    </section>
  </main>

</body>
</html>