<!DOCTYPE html>
<html>
<head>
	<title>Obeyims</title>
</head>
<body>
	<header>
		<h1>Obeyims</h1>
		<nav>
			<a href="#">Something on your mind</a>
		</nav>
	</header>
	<main>
		<h2>Feed</h2>
	</main>
</body>
</html>