<!DOCTYPE html>
<html>
<head>
	<title>Who would you like to follow?</title>
</head>
<body>
	<header>
		<h1>Who would you like to follow?</h1>
	</header>
	<main>
		<%for (let i = 0; i < users.length; i++) {%>
			<%= users[i].username %><br> <button <%= users[i].id %>>follow</button>
		<%}%>
	</main>
</body>
</html>